<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GopherFace - Sign Up Confirmation</title>
    <link rel="stylesheet" type="text/css" href="/static/css/gopherface.css" />
</head>
<body>
    <h1>GopherFace - Sign Up Confirmation</h1>
    
    <p>Thank you {{.Fields.firstName}}</p>
    <p>We have recieved your form submission!</p>
    
</body>
</html>